@import "tailwindcss";

@theme {
  --font-serif: var(--font-playfair);
  --font-sans: var(--font-inter);

  --color-background: #050505;
  --color-foreground: #F5F5F5;
  --color-accent: #E63946;
}

:root {
  --background: #050505;
  --foreground: #F5F5F5;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans);
  overflow-x: hidden;
}

/* Smooth scrolling */
html {
  scroll-behavior: smooth;
}

.perspective-1000 {
  perspective: 1000px;
}